.navbar {
	background-color: #f5f5f5;
  box-shadow: -5px 13px 11px -15px #111;
  height: 115px;
}

.grid {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 50px);
}

.col-one {
  display: grid;
  grid-row-start: 6;
  justify-self: center;
}

.align {
  justify-self: center;
}

.col-two {
  display: grid;
  grid-row-start: 4;
  grid-column-start: 2;
}

.col-three {
  display: grid;
  grid-row-start: 6;
  grid-column-start: 3;
}

.col-four {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 4;
}

.col-five {
  display: grid;
  grid-row-start: 5;
  grid-column-start: 5;
}
img {
  border-radius: 10px;
  margin-bottom: 15px;
}
