.navbar {
	background-color: #f5f5f5;
  box-shadow: -5px 13px 11px -15px #111;
  height: 115px;
}

.grid {
  margin: 0 auto;
  width: 50%;
  display: grid;
  column-gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(5, 133px);
  grid-template-rows: repeat(14, 50px);
}

.col-one {
  grid-row-start: 6;
}

.col-two {
  grid-row-start: 4;
  grid-column-start: 2;
}

.col-three {
  grid-row-start: 6;
  grid-column-start: 3;
}

.col-four {
  grid-row-start: 3;
  grid-column-start: 4;
}

.col-five {
  grid-row-start: 5;
  grid-column-start: 5;
}

img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.font {
  font-family: Poppins;
}

.title {
  font-size: 36px;
  margin: 30px 0 15px 30px;
  font-weight: semibold;
}

.subtitle {
  font-size: 16px;
  margin-left: 30px;
}

.container--image {
  position: relative;
}

.box--top-left {
  position: absolute;
  top: 4px;
  left: 15px;
  background-color: white;
  border-radius: 5px;
  padding: 7px;
  font-size: 10px;
}

.flex {
  display: flex;
}

.rating {
 padding-left: 5px;
}

.margin-0 {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline;
}

.container {
  display: flex;
  padding: 39px;
  column-gap: 39px;
}
